<h3>Bestellings</h3>
<div class="spacer20"></div>

<form [formGroup]="customerForm">
    <div class="container-fluid mx-3 bg-secondary text-light border border-dark rounded">
        <div class="row">
            <div class="col form-group">
                <label for="selectCustomerGroup">Kies Klient Groep</label>
                <select (change)="selectChangeCustomerGroupHandler($event)" class="form-control"
                    id="selectCustomerGroup" formControlName="selectCustomerGroup">
                    <option value="unselected">--Kies Klient Groep--</option>
                    <option *ngFor="let group of groups">{{ group.name }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="selectCustomer">Kies Klient</label>
                <select (change)="selectChangeCustomerHandler($event)" class="form-control" id="selectCustomer"
                    formControlName="selectCustomer">
                    <option value="">--Kies Klient--</option>
                    <option *ngFor="let customer of customersInGroup">{{ customer.name }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="spacer20"></div>
    <div class="container-fluid mx-3 bg-secondary text-light border border-dark rounded">
        <div class="row">
            <div class="col form-group">
                <div class="form-check form-check-inline" id="selectOrderTypeRadios">
                    <input class="form-check-input" type="radio" (change)="radioChangeHandler($event)" 
                    name="inlineRadioOptions" id="chickenRadio"
                        value="Whole">
                    <label class="form-check-label" for="chickenRadio">Heel Hoenders</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" (change)="radioChangeHandler($event)" name="inlineRadioOptions" id="piecesRadio"
                        value="Pieces">
                    <label class="form-check-label" for="inlinepiecesRadioRadio2">Pieces</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" (change)="radioChangeHandler($event)" name="inlineRadioOptions" id="offalRadio"
                        value="Offal">
                    <label class="form-check-label" for="offalRadio">Afval</label>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="spacer20"></div>

<form [formGroup]="wholeForm" (ngSubmit)="submitWhole()">
    <div class="container-fluid mx-3 bg-light border border-dark rounded" *ngIf="wholeChickenSelected">
        <div class="row top-buffer">
            <div class="col">
                <h6>Heel Hoenders</h6>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col">
                <div class="form-group">
                    <label for="selectChickenSize">Kies Grootte</label>
                    <select class="form-control" id="selectChickenSize" formControlName="selectChickenSize">
                        <option value="">--Kies Grootte--</option>
                        <option *ngFor="let item of wholeSizes">{{ item }}</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="selectChickenQuantity">Kies Hoeveelheid</label>
                    <select class="form-control" id="selectChickenQuantity" formControlName="selectChickenQuantity">
                        <option value="">--Kies Hoeveelheid--</option>
                        <option *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]">{{ n }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row top-buffer bottom-buffer">
            <div class="col">
                <button type="submit" class="bg-secondary text-light">Add</button>
            </div>
        </div>

    </div>
</form>

<div class="spacer20"></div>

<form [formGroup]="piecesForm" (ngSubmit)="submitPieces()">
    <div class="container-fluid mx-3 bg-light border border-dark rounded" *ngIf="piecesSelected">
        <div class="row top-buffer">
            <div class="col">
                <h6>Pieces</h6>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col form-group">
                <label for="selectPiecesType">Kies Produk</label>
                <select (change)="selectChangePiecesTypeHandler($event)" class="form-control"
                    formControlName="selectPiecesType" id="selectPiecesType">
                    <option value="">--Kies Produk--</option>
                    <option *ngFor="let item of piecesProducts">{{ item }}</option>
                </select>
            </div>

            <div class="col form-group">
                <label for="selectPiecesSize">Kies Grootte</label>
                <select class="form-control" formControlName="selectPiecesSize" id="selectPiecesSize">
                    <option value="">--Kies Grootte--</option>
                    <option *ngFor="let item of piecesSizes">{{ item }}</option>
                </select>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col">
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" formControlName="deboned" id="deboned">
                    <label class="form-check-label" for="deboned">Ontbeen</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" formControlName="skinned" id="skinned">
                    <label class="form-check-label" for="skinned">Ontvel</label>
                </div>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col form-group">
                <label for="selectPiecesQuantity">Kies Hoeveelheid</label>
                <select class="form-control" id="selectPiecesQuantity" formControlName="selectPiecesQuantity">
                    <option value="">--Kies Hoeveelheid--</option>
                    <option *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">{{ n }}</option>
                </select>
            </div>
        </div>

        <div class="row top-buffer bottom-buffer">
            <div class="col">
                <button type="submit" class="bg-secondary text-light">Sit by</button>
            </div>
        </div>
    </div>
</form>

<div class="spacer20"></div>


<form [formGroup]="offalForm" (ngSubmit)="submitOffal()">
    <div class="container-fluid mx-3 bg-light border border-dark rounded" *ngIf="offalSelected">
        <div class="row top-buffer">
            <div class="col">
                <h6>Offal</h6>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col form-group">
                <label for="selectOffalType">Kies Produk</label>
                <select (change)="selectChangeOffalTypeHandler($event)" class="form-control"
                    formControlName="selectOffalType" id="selectOffalType">
                    <option value="">--Kies Produk--</option>
                    <option *ngFor="let item of offalProducts">{{ item }}</option>
                </select>
            </div>

            <div class="col form-group">
                <label for="selectOffalSize">Kies Grootte</label>
                <select class="form-control" formControlName="selectOffalSize" id="selectOffalSize">
                    <option value="">--Kies Grootte--</option>
                    <option *ngFor="let item of offalSizes">{{ item }}</option>
                </select>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col form-group">
                <label for="selectOffalQuantity">Kies Hoeveelheid</label>
                <select class="form-control" id="selectOffalQuantity" formControlName="selectOffalQuantity">
                    <option value="">--Kies Hoeveelheid--</option>
                    <option *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">{{ n }}</option>
                </select>
            </div>
        </div>

        <div class="row top-buffer bottom-buffer">
            <div class="col">
                <button type="submit" class="bg-secondary text-light">Sit by</button>
            </div>
        </div>
    </div>
</form>

<div class="spacer20"></div>

<form [formGroup]="finalForm" (ngSubmit)="submitFinal()">
    <div class="container-fluid mx-3 bg-secondary text-light border border-dark rounded">
        <div class="row top-buffer">
            <div class="col">
                <h6>Opsomming</h6>
            </div>
        </div>

        <div class="alert alert-danger alert-dismissible" *ngIf="submitWithoutCustomer">
            <button (click)="dismissSubmitWithoutCustomer()" class="close" data-dismiss="alert"
                aria-label="close">&times;</button>
            <strong>Kies asb n klient</strong>
        </div>

        <div class="row top-buffer">
            <div class="col">
                <label class="font-weight-bold">Customer</label>
                <br />
                <span *ngIf="!customerSelected" class="text-warning">Kies asb 'n Klient bo</span>
                <span *ngIf="customerSelected">{{ customerForm.controls.selectCustomer.value }}</span>
            </div>
        </div>

        <div class="row top-buffer" *ngIf="bindedOrdersValues">
            <div class="col">
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th scope="col">Produk</th>
                            <th scope="col">Grootte</th>
                            <th scope="col">Hoeveelheid</th>
                            <th scope="col">Ontbeen</th>
                            <th scope="col">Ontvel</th>
                            <th scope="col">Verwyder</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of bindedOrdersValues">
                            <td>{{ order.product }}</td>
                            <td>{{ order.size }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.deboned }}</td>
                            <td>{{ order.skinned }}</td>
                            <td><button (click)="handleRemove(order)" type=”button”>Verwyder</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row top-buffer bottom-buffer">
            <div class="col">
                <button type="submit">Sit Bestelling In</button>
            </div>
        </div>

        <div class="alert alert-success alert-dismissible" *ngIf="submitSuccess">
            <a href="/order" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Sukses!</strong>
        </div>

        <!-- <div class="alert alert-danger alert-dismissible" *ngIf="!submitSuccess">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Failed!</strong>
            </div> -->
    </div>
</form>