<h3>Kliente</h3>
<div class="spacer20"></div>

<form [formGroup]="customerSearchForm">

    <div class="container-fluid mx-3 bg-secondary text-light border border-dark rounded">

        <div class="row top-buffer" *ngIf="customers && !changingCustomerGroup">

            <div class="wrap">
                <div class="search">
                    <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}" class="searchTerm"
                        placeholder="Tik Klient Naam...">
                </div>
                <div class="spacer20"></div>
                <div class="col">
                    <table class="table text-light">
                        <thead>
                            <tr>
                                <th scope="col">Naam</th>
                                <th scope="col">Groep</th>
                                <th scope="col">Agent</th>
                                <th scope="col">Nommer</th>
                                <th scope="col">Tel</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Verander Groep</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let customer of customers | filter:term">
                                <td>{{ customer.name }}</td>
                                <td>{{ customer.group }}</td>
                                <td>{{ customer.customerAgent }}</td>
                                <td>{{ customer.customerNumber }}</td>
                                <td>{{ customer.contactNumber }}</td>
                                <td>{{ customer.email }}</td>
                                <td><button (click)="handleChangeCustomerGroup(customer)" type=”button”>Verander Groep</button></td>
                                <td><button (click)="handleDeleteCustomer(customer)" type=”button”>Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </form>

    <form [formGroup]="changeCustGroupform" *ngIf="changingCustomerGroup" (ngSubmit)="handleSubmitChangeCustomerGroup()">
        <div class="container-fluid mx-3 bg-secondary text-light border border-dark rounded">
            <div class="row">
                <label for="displayName">Klient</label>
            </div>    
            <div class="row">
                <p id="displayName">{{ customerSelectedForChange.name }}</p>
            </div>
            
            <div class="row">
                <div class="col form-group">
                    <label for="selectCustomerGroup">Kies Klient Groep</label>
                    <select (change)="selectChangeCustomerGroupHandler($event)" class="form-control"
                        id="selectCustomerGroup" formControlName="selectCustomerGroup">
                        <option value="">--Kies Klient Groep--</option>
                        <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
                    </select>
                </div>
            </div>
            <div class="row top-buffer bottom-buffer">
                <div class="col">
                    <button type="submit" class="bg-secondary text-light">Sit Klient by Groep</button>
                </div>
                <div class="col">
                    <button (click)="handleCancelAdd()" type="button" class="bg-secondary text-light">Kanselleer</button>
                </div>
            </div>
            <div class="alert alert-success alert-dismissible" *ngIf="submitCustGroupChangeSuccess">
                <button (click)="dismissCustGroupChangeSuccess()" class="close" data-dismiss="alert"
                    aria-label="close">&times;</button>
                <strong>Success!</strong>
            </div>
        </div>
    </form>