<h3>Kliente</h3>
<div class="spacer20"></div>

<form [formGroup]="customerSearchForm">

    <!-- <div class="container-fluid mx-3 bg-secondary text-light border border-dark rounded">
        <div class="row top-buffer">
            <div class="col">
                <h6>Soek Klient by Naam</h6>
            </div>
        </div>
        <div class="wrap">
          <div class="search">
            <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}" class="searchTerm" placeholder="Tik Klient Naam...">
          </div>
      
          <div *ngFor="let item of customers | filter:term">
            <p>
              {{ item.name }}
            </p>
          </div>
        </div>
    </div> -->

    <div class="container-fluid mx-3 bg-secondary text-light border border-dark rounded">

        <div class="row top-buffer" *ngIf="customers">

            <div class="wrap">
                <div class="search">
                    <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}" class="searchTerm"
                        placeholder="Tik Klient Naam...">
                </div>
                <div class="spacer20"></div>
                <div class="col">
                    <table class="table text-light">
                        <thead>
                            <tr>
                                <th scope="col">Naam</th>
                                <th scope="col">Alias</th>
                                <th scope="col">Groep</th>
                                <th scope="col">Agent</th>
                                <th scope="col">Nommer</th>
                                <th scope="col">Verander</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let customer of customers | filter:term">
                                <td>{{ customer.name }}</td>
                                <td>{{ customer.scanAlias }}</td>
                                <td>{{ customer.customerGroup }}</td>
                                <td>{{ customer.customerAgent }}</td>
                                <td>{{ customer.customerNumber }}</td>
                                <td><button (click)="handleRemove(order)" type=”button”>Verander</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container-fluid">
        <div class="row top-buffer">
            <div class="col">
                <h6>OF...</h6>
            </div>
        </div>
    </div>
</form>

<form [formGroup]="groupForm" (ngSubmit)="submitGroup()">
    <div class="container-fluid mx-3 bg-secondary text-light border border-dark rounded">
        <div class="row">
            <div class="col form-group">
                <label for="selectCustomerGroup">Kies Klient Groep</label>
                <select (change)="selectChangeCustomerGroupHandler($event)" class="form-control"
                    id="selectCustomerGroup" formControlName="selectCustomerGroup">
                    <option value="">--Kies Klient Groep--</option>
                    <option *ngFor="let group of groups">{{ group }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="spacer20"></div>
    <div class="container-fluid">
        <div class="row top-buffer">
            <div class="col">
                <h6>OF...</h6>
            </div>
        </div>
    </div>

    <div class="container-fluid mx-3 bg-secondary text-light border border-dark rounded">
        <div class="row top-buffer">
            <div class="col">
                <h6>Nuwe Klient Groep</h6>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="inputGroupName">Groep Naam</label>
                <input type="text" class="form-control" id="inputGroupName" formControlName="inputGroupName">
            </div>
        </div>
        <div class="row top-buffer bottom-buffer">
            <div class="col">
                <button type="submit" class="bg-secondary text-light">Maak nuwe groep</button>
            </div>
        </div>

        <div class="alert alert-success alert-dismissible" *ngIf="submitGroupSuccess">
            <button (click)="dismissGroupSuccess()" class="close" data-dismiss="alert"
                aria-label="close">&times;</button>
            <strong>Success!</strong>
        </div>
    </div>
</form> -->